<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h6 class="display-6">N'hésitez-pas à nous contacter pour une information ou réclamation!
                </h6>
                <br>
                <ul style="list-style: none;">

                    <li>
                        <div class="row">
                            <div class="col-3"><b>Numéro de téléphone</b></div>
                            <div class="col-3"> <a href="tel:+216 99 999 999">+216 99 999 999</a>
                            </div>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div class="row">
                            <div class="col-3"><b>Adresse E-mail</b></div>
                            <div class="col-3"> <a href="mailto:equipe@gmail.com">equipe@gmail.com</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
                    alt="" class="img-fluid"></div>
        </div>
    </div>
</div>