.container{
    margin:60px 0 40px;
}
h1,h4,h5,footer{
    text-align: center;
}
.row.slogan,.row.Pourquoi,.titre,.rounded-circle{
    margin:60px 0 40px;
    
}
p{
font-weight: bold;
text-size-adjust :40px;
}
footer{
    background-color: black;
    color:white;
}

