<div class="row">
    <div class="col-8 offset-2 bg-white  rounded">
        <div class="d-flex justify-content-center">
                <form class="row g-2"[formGroup]="chercher">
                    <div class="col-auto">
                        <input type="text" class="form-control" id="nommed" placeholder="tapez votre medicament">
                      </div>
                      <div class="col-auto">
                        <button type="submit"class="btn" (click)="cherchermed()">chercher</button>
                      </div>                 
            </form>
        </div>
    </div>
</div>