.chercher{
    padding: 70px 0;
    text-align: center;
    margin:10px 0 30px;
    

}
input
   {
    width: 40%;
    height: 20px;
    padding: 1em;
    line-height: 1.2;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    

  }
    input:focus {
    outline: 0;
    border-color: #250a58;
  }
 button {
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #250a58;
    background-color: #250a58;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 30px;
    width: 10%;
    overflow:hidden;
    outline-style: none;

  
  }