<div class="row">
    <div class="col-8 offset-2 bg-white shadow rounded">

        <div class="d-flex justify-content-center">
            <button *ngIf="!isModif" (click)="onModif()" type=" button" class="rounded-pill btn leftButton">
                modifier
            </button>
            <button *ngIf="isModif " (click)="onSubmit()" [disabled]="!valid" type="submit"
                class="rounded-pill btn leftButton">
                confirmer
            </button>
            <button (click)="onSuppr()" type=" button" id="i2" class="rounded-pill btn btn-danger">supprimer</button>
        </div>
        <br>
        <hr class="greenHr">
        <br>

        <div class="row">
            <div class="col-8 offset-2" *ngIf="!isModif">
                <div class="row" *ngFor="let donnee of dataRepresentation">
                    <div class="col-4 ">
                        <h6>{{donnee[0]}}</h6>
                    </div>
                    <div class="col-4 offset-4">
                        <p>{{donnee[1]}}</p>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-2" *ngIf="isModif">
                <form action="#" [formGroup]="modifForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-4">
                            <h6>Nom pharmacie</h6>
                            <h6 *ngIf="f['nom_pharmacie']?.invalid" class="text-danger">
                                Insérer un
                                nom valide</h6>
                        </div>
                        <div class="col-4 offset-4">
                            <input type="text" formControlName="nom_pharmacie" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 ">
                            <h6>Adresse pharmacie</h6>
                            <h6 *ngIf="f['adr_pharmacie']?.invalid" class="text-danger">
                                Insérer une
                                adresse valide</h6>
                        </div>
                        <div class="col-4 offset-4">
                            <input type="text" formControlName="adr_pharmacie" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 ">
                            <h6>Type pharmcie</h6>
                            <h6 *ngIf="f['type_pharmacie']?.invalid" class="text-danger">
                                Insérer un
                                type valide</h6>
                        </div>
                        <div class="col-4 offset-4">
                            <select formControlName="type_pharmacie" class="form-select form-select-sm">
                                <option *ngFor="let t of type_pharmacie" [ngValue]="t">{{t}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6>Email pharmacie</h6>
                            <h6 *ngIf="f['email_pharmacie']?.invalid" class="text-danger">
                                Insérer un
                                email valide</h6>
                        </div>
                        <div class="col-4 offset-4">
                            <input type="email" formControlName="email_pharmacie" class="form-control">
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-4">
                            <h6>Téléphone pharmacie</h6>
                            <h6 *ngIf="f['tel_pharmacie']?.invalid" class="text-danger">
                                Insérer un
                                numéro valide</h6>
                        </div>
                        <div class="col-4 offset-4">
                            <input type="text" formControlName="tel_pharmacie" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a routerLink="/Stock">Gérer votre Stock de médicaments</a>
    </div>
</div>

