<div class="row">
    <div class="col-8 offset-2 bg-white shadow rounded">
        <div class="row">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle img-fluid align-center" alt="Photo de profil"
                    src="../../assets/user-icon.png" height="256" width="256">
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <h3 id="username"> Flen Fouleni</h3>
        </div>
        <div class="d-flex justify-content-center">
            <h6 class="text-secondary"> flenfouleni@gmail.com</h6>
        </div>
        <div class="d-flex justify-content-center">
            <button *ngIf="!isModif" (click)="onModif()" type=" button" class="rounded-pill btn leftButton">
                modifier
            </button>
            <button *ngIf="isModif" (click)="onSubmit()" type="submit" class="rounded-pill btn leftButton">
                confirmer
            </button>
            <button (click)="onSuppr()" type=" button" id="i2" class="rounded-pill btn btn-danger">supprimer</button>
        </div>
        <br>
        <hr class="greenHr">
        <br>

        <div class=" row">
            <div class="col-8 offset-2" *ngIf="!isModif">
                <div class="row">
                    <div class="col-4 ">
                        <h6>Nom d'utilisateur</h6>
                    </div>
                    <div class="col-4 offset-4">
                        <p>{{data.nom}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 ">
                        <h6>Date de naissance</h6>
                    </div>
                    <div class="col-4 offset-4">
                        <p>{{data.dateN}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 ">
                        <h6>Sexe</h6>
                    </div>
                    <div class="col-4 offset-4">
                        <p>{{data.sexe}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Email</h6>
                    </div>
                    <div class="col-4 offset-4">
                        <p>{{data.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Numéro de téléphone</h6>
                    </div>
                    <div class="col-4 offset-4">
                        <p>{{data.num}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Adresse</h6>
                    </div>
                    <div class="col-4 offset-4">
                        <p>{{data.adr}}</p>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-2" *ngIf="isModif">
                <form action="#" [formGroup]="modifForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <h6>Nom d'utilisateur</h6>
                            </div>
                            <div class="row">
                                <h6 *ngIf="f['nom']?.invalid" id="nom" class="text-danger">
                                    Insérer un
                                    nom</h6>
                            </div>


                        </div>
                        <div id="noun" class="col-4 offset-4">
                            <input type="text" formControlName="nom" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 ">
                            <h6>Date de naissance</h6>
                        </div>
                        <div id="age" class="col-4 offset-4">
                            <input type="date" formControlName="dateN" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 ">
                            <h6>Sexe</h6>
                        </div>
                        <div id="sex" class="col-4 offset-4">
                            <select formControlName="sexe" class="form-select form-select-sm">
                                <option *ngFor="let s of sexe" [ngValue]="s">{{s}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6>Email</h6>
                        </div>
                        <div id="email" class="col-4 offset-4">
                            <input type="email" formControlName="email" class="form-control">
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-4">
                            <h6>Numéro de téléphone</h6>
                        </div>
                        <div id="number" class="col-4 offset-4">
                            <input type="number" formControlName="num" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6>Adresse</h6>
                        </div>
                        <div id="address" class="col-4 offset-4">
                            <input type="text" formControlName="adr" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>