<nav class="navbar navbar-light bg-light">
    <ul>
        <li class="nav-item"><a class="nav-link" routerLink="accueil">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">Blog</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">A propos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="barre">Chercher</a></li>
        <div class="seconnecter">
            <li><a routerLink="login">se connecter</a></li>
        </div>

    </ul>
</nav>