.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.26);
    position: relative;
    overflow: hidden;
    width: 60%;
    min-height: 480px;
    padding: 10px 20px;


}

h4 {
    color: #39a34b;
    margin: 10px 0 30px;

}

label {
    font-weight: bold;
}

/*input.ng-invalid{
  border-left: 5px solid rgb(240, 14, 14);
}*/

input {

    width: 70%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    margin: 10px 0 30px;

}

input:focus {
    outline: 0;
    border-color: #39a34b;
}

.sexe {
    padding: 20px;
}

input[type="radio"].sexe {
    display: none;

}

input[type="radio"].sexe+label {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: rgb(20, 3, 3);
    background-color: #fff;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    border-color: #39a34b;
    margin: 10px 0 30px;


}

input[type="radio"].sexe.femme:hover+label,
input[type="radio"].sexe.homme:hover+label {
    background-color: #39a34b;
    border-color: #39a34b;
}

input[type="radio"].sexe.femme:checked+label,
input[type="radio"].sexe.homme:checked+label {
    background-color: #39a34b;
    border-color: #39a34b;
}

select {
    appearance: none;
    outline: 0;
    border: 0;
    background: #f7f5f5;
    background-image: none;
    box-shadow: none;
    font-size: 1.2em;
}

.select {
    position: relative;
    width: 350px;
    height: 45px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #CED4DA;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 15px;
    color: #555555;
    cursor: pointer;
}

.btn {
    padding: 20px;
}

#b1 {

    border: 1px solid #39a34b;
    background-color: #39a34b;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 45px;
    width: 30%;
    overflow: hidden;

}