   <app-navbar></app-navbar>
   <div class="container" id="container">
        <form [formGroup]="signinmedecin" (ngSubmit)="onSubmit()">
          <div class="row ">
            <h4>créer un compte Médecin</h4> 
              <div class="col-6 ">
                  <label id="n">nom</label>
                  <input type="text"id="nom" class="form-control" formControlName="nom"placeholder=" nom" required>
                  <span class="text-danger"
                  *ngIf="f['nom']?.invalid &&f['nom'].errors?.['pattern']" id="nom">
                    verifier le nom
              </span>


              </div>
              <div class="col-6">
                  <label id="pn">prenom</label>
                  <input type="text" id="prenom"class="form-control" placeholder="prenom" formControlName="prenom"required>
                  <span class="text-danger"
                  *ngIf="f['prenom']?.invalid &&f['prenom'].errors?.['pattern']" id="prenom">
                  verifier le prenom
              </span>
                </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label id="cn">cin</label>
              <input type="text" id="cin"class="form-control" placeholder="cin"required>
              <span class="text-danger"
              *ngIf="f['cin']?.invalid&&f['cin'].errors?.['pattern']&&f['cin'].errors?.['maxlength']" id="cin">
              cin doit contenir 8 chiffre
          </span>
            </div>
              <div class="col-6">
                  <label id="mail">email</label> 
                  <input type="email" id="email"class="form-control" placeholder="Email" required>
                  <span class="text-danger"
                  *ngIf="f['email']?.invalid " id="email">
                  verifier l'email </span>
                </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label id="mp">mot de passe</label>
              <input type="password"id="mdp" class="form-control" placeholder="mot de passe " required>
              <span class="text-danger"
                  *ngIf="f['mdp']?.invalid &&f['mdp'].errors?.['minlength']" id="mdp">
                  verifier le mot de passe </span>
          </div>
              <div class="col-6">
                  <label id="d">date de naissance</label> 
                  <input id="dn"type="date"class="form-control" formControlName="dn">
                  <span class="text-danger"
              *ngIf="f['dn']?.invalid " id="dn">
              verifier le dn </span>
              </div>
          </div>
           <div class="row">
                <div class="col-6">
                  <label id="se">sexe</label>
                  <input type="radio" name="sexe" class=" sexe femme" id="sexe-femme" >
                  <label for="sexe-femme">femme</label>
                  <input type="radio" name="sexe" class="  sexe homme" id="sexe-homme" >
                  <label for="sexe-homme">homme</label>
               </div>
              <div class="col-6">
                <label id="tlp">numéro de téléphone</label>
                <input type="text" id="tel"class="form-control" placeholder=" numéro de téléphone" formControlName="tel"  required>
                <span class="text-danger"
                    *ngIf="f['tel']?.invalid" id="tel">
                    tel doit contenir 8 chiffre
                </span>
              </div>
           </div>
            <div class="row">
              <div class="col-6">
              <label for="formFile" class="form-label">Copie PDF des diplômes et des documents vérifiant votre identité (dans un seul fichier)</label>
              <input class="form-control" type="file" id="formFile">
              </div>
              <div class=" col-6 ">
                <label id="sp">spécialités</label>
                <div class="select">
                    <select>
                      <option>spécialités</option>
                      <option value="cardiologue">cardiologue</option>
                      <option value="dentiste">dentiste</option>
                      <option value="généraliste">généraliste</option>
                      <option value="interniste">interniste</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button id="b1" type=" submit" (click)="onSubmit"class="btn">
                  envoyer
              </button>               
            </div>  
                

      
        </form>
        <app-footer></app-footer>
